{% extends 'base.html' %}
{% block content %}
<div class="flex justify-center">
    <form action="{% block form_action %}{% endblock %}" method="POST" class="bg-orange-300 p-5 rounded">
        <legend class="font-bold">{% block form_legend %}{% endblock %}</legend>
        {% block form_additional_param %}{% endblock %}
        <div class="flex flex-col mb-3">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="border rounded px-2" placeholder="name@email.com" required>
        </div>
        <div class="flex flex-col mb-2">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="border rounded px-2" placeholder="password" required minlength="6">
        </div>
        <div class="flex justify-end">
            <button class="bg-neutral-200 px-2 py-1 rounded cursor-pointer">{% block form_button %}{% endblock %}</button>
        </div>
    </form>
</div>

{% endblock %}